extends layout 

block content 
  h1.text-3xl= title 

  if dependents
    p Delete the following dependents before attempting to delete this.

    div 
      dl 
      each dependent in dependents 
        dt
          a(href=dependent.url) #{dependent.name}

  else
    p Are you sure you want to delete #{item}?

    form(action="", method="post") 
      input(type="hidden", name="itemid" value=item._id)
      input(type="submit" value='Delete')